- content_for :content do
  .container-alt
    .logo-container
      %h1
        .wordmark
          = link_to root_path do
            = logo_as_symbol(:wordmark)

    .logo-container
      %h1
        .wordmark_dark
          = link_to root_path do
            = logo_as_symbol(:wordmark_dark)

    .form-container
      = render 'flashes'

      = yield

%script{ src: "/theme.js", defer: true }

= render template: 'layouts/application'
